<?xml version="1.0" encoding="UTF-8"?>
<plugin id="bluetherm-thermaq" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>bluetherm-thermaq</name>
  <js-module name="bluetherm-thermaq" src="www/bluetherm-thermaq.js">
    <clobbers target="cordova.plugins.bluetherm_thermaq" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="bluetherm-thermaq">
        <param name="ios-package" value="bluetherm_thermaq" />
      </feature>
    </config-file>
    <source-file src="src/ios/Library/libThermaLib.a" framework="true" />
    <header-file src="src/ios/Library/include/ThermaLib/ThermaLib.h"/>
    <header-file src="src/ios/Library/include/ThermaLib/TLDateStamp.h"/>
    <header-file src="src/ios/Library/include/ThermaLib/TLDevice.h"/>
    <header-file src="src/ios/Library/include/ThermaLib/TLSensor.h"/>
    <header-file src="src/ios/Library/include/ThermaLib/TLSimDevice.h"/>
    <header-file src="src/ios/Library/include/ThermaLib/TLSimSensor.h"/>
    <source-file src="src/ios/bluetherm-thermaq.m" />
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="bluetherm-thermaq">
        <param name="android-package" value="bluetherm-thermaq.bluetherm-thermaq" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
    </config-file>
    <resource-file src="src/android/thermalib-release.aar" target="libs/thermalib-release.aar" />
    <source-file src="src/android/bluetherm-thermaq.java" target-dir="src/bluetherm-thermaq/bluetherm-thermaq" />
  </platform>
</plugin>
