<?xml version="1.0" encoding="UTF-8"?>
<plugin id="BlueThermThermaQ" version="1.1.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>BlueThermThermaQ</name>
  <js-module name="BlueThermThermaQ" src="www/BlueThermThermaQ.js">
    <clobbers target="cordova.plugins.BlueThermThermaQ" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="BlueThermThermaQ">
        <param name="ios-package" value="BlueThermThermaQ" />
      </feature>
    </config-file>
    <source-file src="src/ios/Library/libThermaLib.a" framework="true" />
    <header-file src="src/ios/Library/include/ThermaLib/ThermaLib.h"/>
    <header-file src="src/ios/Library/include/ThermaLib/TLDateStamp.h"/>
    <header-file src="src/ios/Library/include/ThermaLib/TLDevice.h"/>
    <header-file src="src/ios/Library/include/ThermaLib/TLRange.h"/>
    <header-file src="src/ios/Library/include/ThermaLib/TLRemoteSettings.h"/>
    <header-file src="src/ios/Library/include/ThermaLib/TLSensor.h"/>
    <header-file src="src/ios/Library/include/ThermaLib/TLSimDevice.h"/>
    <header-file src="src/ios/Library/include/ThermaLib/TLSimSensor.h"/>
    <header-file src="src/ios/Library/include/ThermaLib/TLUtils.h"/>
    <source-file src="src/ios/BlueThermThermaQ.m" />
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="BlueThermThermaQ">
        <param name="android-package" value="BlueThermThermaQ.BlueThermThermaQ" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
    </config-file>
    <framework src="src/android/thermalib.gradle" custom="true" type="gradleReference" />
    <resource-file src="src/android/thermalib-release.aar" target="libs/thermalib-release.aar" />
    <source-file src="src/android/BlueThermThermaQ.java" target-dir="src/BlueThermThermaQ" />
  </platform>
</plugin>
